# Produce IO Tables from OECD data

This notebook generalises the code from the notebook "Produce OECD IO tables - one country only" to multiple countries in one year. Its aim is to produce Input-Output (IO) tables for a number of countries using the OECD data published [here](https://www.oecd.org/sti/ind/inter-country-input-output-tables.htm).

## 1. Wide format

In [5]:
# Imports and path
!pip install pymrio
import pymrio
import pandas as pd
from pathlib import Path
oecd_storage = Path('/project_data/data_asset/')

Requirement already satisfied: pymrio in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (0.4.1)
Requirement already satisfied: matplotlib>=2.0.0 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from pymrio) (3.0.2)
Requirement already satisfied: numpy>=1.13.4 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from pymrio) (1.15.4)
Requirement already satisfied: requests>=2.18 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from pymrio) (2.21.0)
Requirement already satisfied: xlrd>=1.1.0 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from pymrio) (1.2.0)
Requirement already satisfied: pandas>=0.25.0 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from pymrio) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from matplotlib>=2.0.0->pymrio) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from matplotlib>=2.0.0->pymrio) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from matplotlib>=2.0.0->pymrio) (2.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from matplotlib>=2.0.0->pymrio) (2.7.5)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from requests>=2.18->pymrio) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from requests>=2.18->pymrio) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from requests>=2.18->pymrio) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from requests>=2.18->pymrio) (1.24.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from pandas>=0.25.0->pymrio) (2018.9)
Requirement already satisfied: six in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from cycler>=0.10->matplotlib>=2.0.0->pymrio) (1.12.0)
Requirement already satisfied: setuptools in /opt/conda/envs/Python-3.6/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->pymrio) (40.8.0)

In [6]:
# Select the year to parse - 2015 in this case
oecd_path_year = pymrio.parse_oecd(path=oecd_storage, year=2015)

In [7]:
# Show countries
print('There are', len(oecd_path_year.get_regions()), 'countries in the dataset:')
print(set(oecd_path_year.get_regions()))

There are 65 countries in the dataset:
{'SGP', 'TUN', 'IDN', 'HKG', 'MLT', 'TUR', 'NOR', 'GRC', 'BGR', 'CHN', 'KHM', 'SVN', 'MYS', 'BEL', 'CZE', 'CHL', 'EST', 'KOR', 'NLD', 'DNK', 'LUX', 'KAZ', 'HRV', 'POL', 'PRT', 'BRN', 'PHL', 'THA', 'VNM', 'CRI', 'ARG', 'MEX', 'SWE', 'ROW', 'ZAF', 'SAU', 'HUN', 'NZL', 'FIN', 'IRL', 'DEU', 'CHE', 'ISL', 'MAR', 'GBR', 'CAN', 'FRA', 'ROU', 'BRA', 'COL', 'ISR', 'AUS', 'ESP', 'ITA', 'PER', 'RUS', 'USA', 'CYP', 'LVA', 'AUT', 'JPN', 'TWN', 'SVK', 'LTU', 'IND'}

In [8]:
countries = oecd_path_year.get_regions()
non_essential_sectors = ['07T08','24','25','29','30','68']

In [9]:
# Constrcut Input-Output tables for selected countries    
IO_EXT = oecd_path_year.Z.copy()
        
# TAXES AND VALUE ADDED
TAXSUB = oecd_path_year.factor_inputs.F.iloc[oecd_path_year.factor_inputs.F.index.get_level_values('inputtype') != 'VALU']
VA = oecd_path_year.factor_inputs.F.iloc[oecd_path_year.factor_inputs.F.index.get_level_values('inputtype') == 'VALU']
VA_TAXES = VA.append(TAXSUB * (-1))

IO_EXT.loc[('ALL', 'VALUE ADDED'),:] = pd.Series(VA_TAXES.sum()).values

In [10]:
# Collapse non-essential columns
country_NE = pd.DataFrame()

for country in countries:
    
    for sector in non_essential_sectors:
        
        column = IO_EXT[(country, sector)]
        country_NE = pd.concat([country_NE, column], axis = 1)
        IO_EXT.drop(columns = (country, sector), inplace = True)
    
    country_NE = country_NE.sum(axis = 1)
    
    IO_EXT[(country, 'All non-essential')] = country_NE
    
    country_NE = pd.DataFrame()

In [11]:
# Collapse non-essential rows
country_NE = pd.DataFrame()

for country in countries:
    
    for sector in non_essential_sectors:
        
        row = IO_EXT.loc[(country, sector),:]
        country_NE = pd.concat([country_NE, row], axis = 1)
        IO_EXT.drop(index = (country, sector), inplace = True)
    
    country_NE = country_NE.sum(axis = 1)
    
    IO_EXT.loc[(country, 'All non-essential'),:] = country_NE
    
    country_NE = pd.DataFrame()

In [12]:
# TOTAL PRODUCTION
IO_EXT.loc[('ALL', 'TOTAL PRODUCTION'),:] = pd.Series(IO_EXT.sum()).values

In [13]:
IO_EXT

region                             ARG                             \
sector                           01T03         05T06           09
region sector
ARG    01T03              13014.595854      8.049052     4.143001
       05T06                199.321049   2276.678829   275.113858
       09                   313.959066   1894.970278   246.435218
       10T12               1960.104890     31.815860     5.132780
       13T15                257.570464     39.774788     6.260411
...                                ...           ...          ...
TWN    All non-essential      0.687945      1.416402     0.288667
USA    All non-essential      8.382023      8.336595     1.382335
VNM    All non-essential      0.131674      0.124189     0.040799
ZAF    All non-essential      0.614518      0.725694     0.140749
ALL    TOTAL PRODUCTION   81625.463330  27843.740051  3748.790151

region                                                             \
sector                           10T12         13T15           16
region sector
ARG    01T03              34292.771836    964.672923   545.773454
       05T06                254.403159     34.275764     7.246904
       09                    39.008104      0.000000     2.405210
       10T12               4438.490860    243.163011    22.569292
       13T15                435.065366   6610.432902    26.232974
...                                ...           ...          ...
TWN    All non-essential      1.680883      0.348774     0.223092
USA    All non-essential     13.529736      4.146243     1.715818
VNM    All non-essential      0.130207      0.032578     0.015670
ZAF    All non-essential      0.981533      0.247062     0.139073
ALL    TOTAL PRODUCTION   87493.392897  27815.604696  7494.304599

region                                                              \
sector                           17T18            19         20T21
region sector
ARG    01T03                240.085264     16.713493    324.245670
       05T06                 81.646943  16381.766599    757.582323
       09                    12.716208     14.148393      6.509650
       10T12                 88.041559     21.605191    173.685120
       13T15                 76.357137     13.831488    136.254071
...                                ...           ...           ...
TWN    All non-essential      0.182624      0.147612      0.304447
USA    All non-essential      2.447097      1.464879      7.432188
VNM    All non-essential      0.042467      0.020378      0.302031
ZAF    All non-essential      0.224580      1.151624      0.459515
ALL    TOTAL PRODUCTION   14212.358454  30228.021257  23419.521919

region                                  ...               SVK  \
sector                              22  ... All non-essential
region sector                           ...
ARG    01T03                215.505180  ...          0.001767
       05T06                101.862709  ...          0.000014
       09                    22.030458  ...          0.000000
       10T12                 50.899412  ...          0.004491
       13T15                166.691463  ...          0.007941
...                                ...  ...               ...
TWN    All non-essential      0.683925  ...         20.721855
USA    All non-essential      5.586056  ...         92.617364
VNM    All non-essential      0.054106  ...          2.665338
ZAF    All non-essential      0.440182  ...          5.229450
ALL    TOTAL PRODUCTION   17230.765111  ...      42425.210363

region                                 SVN               SWE  \
sector                   All non-essential All non-essential
region sector
ARG    01T03                      0.001402          0.007053
       05T06                      0.000168          0.001535
       09                         0.000068          0.008444
       10T12                      0.006811          0.059601
       13T15                      2.121081          0.046811
...                                    ...               ...
TWN    All non-essential          6.550438         54.306799
USA    All non-essential         14.391025        228.008866
VNM    All non-essential          2.312445          7.942385
ZAF    All non-essential          5.924965         25.716588
ALL    TOTAL PRODUCTION       11286.166823     129626.227086

region                                 THA               TUN  \
sector                   All non-essential All non-essential
region sector
ARG    01T03                      0.025203          0.003495
       05T06                      0.000625          0.000015
       09                         0.003079          0.000049
       10T12                      0.184813          0.020985
       13T15                      0.910942          0.000358
...                                    ...               ...
TWN    All non-essential        456.011589          2.052466
USA    All non-essential        746.747414          5.831914
VNM    All non-essential        322.065092          0.281732
ZAF    All non-essential         70.909994          0.848013
ALL    TOTAL PRODUCTION       85822.300977       4679.615913

region                                 TUR               TWN  \
sector                   All non-essential All non-essential
region sector
ARG    01T03                      0.014174          0.003004
       05T06                      0.002654          0.000787
       09                         0.000747          0.004724
       10T12                      0.084819          0.028495
       13T15                      0.127955          2.083819
...                                    ...               ...
TWN    All non-essential         88.611618      27964.922129
USA    All non-essential        449.390503        840.346450
VNM    All non-essential         15.000640        122.673513
ZAF    All non-essential         84.670033        142.160580
ALL    TOTAL PRODUCTION      209531.730840     153479.022534

region                                 USA               VNM               ZAF
sector                   All non-essential All non-essential All non-essential
region sector
ARG    01T03                  1.406894e-01          0.054142          0.286578
       05T06                  2.057142e+00          0.000189          0.000889
       09                     1.541062e+00          0.000314          0.020269
       10T12                  1.536981e+00          0.237270          0.762123
       13T15                  1.762954e+00          0.027347          0.402780
...                                    ...               ...               ...
TWN    All non-essential      2.549758e+03        364.295553         49.705607
USA    All non-essential      6.652419e+05        241.909068        212.045494
VNM    All non-essential      6.109197e+02       9514.321979          4.406049
ZAF    All non-essential      7.719053e+02          3.255237      20863.262335
ALL    TOTAL PRODUCTION       4.634858e+06      51894.306413      97849.949145

[2017 rows x 2015 columns]

In [14]:
# EXPORT TO CSV
#IO_EXT.to_csv('/project_data/data_asset/IO_WORLD.csv')

## 2. Long format

In [15]:
# Copy dataframe and prepare it for melting
IO_MELT = IO_EXT.copy()
IO_MELT.reset_index(inplace = True)
IO_MELT.rename(columns = {'region': 'input_country', 'sector': 'input_sector'}, inplace = True)

In [16]:
# Melt dataframe - From wide to long format
IO_MELT = pd.melt(IO_MELT, id_vars = ['input_country', 'input_sector'], var_name = ['output_country', 'output_sector'])
IO_MELT

,input_country,input_sector,output_country,output_sector,value
0,ARG,01T03,ARG,01T03,13014.595854
1,ARG,05T06,ARG,01T03,199.321049
2,ARG,09,ARG,01T03,313.959066
3,ARG,10T12,ARG,01T03,1960.104890
4,ARG,13T15,ARG,01T03,257.570464
...,...,...,...,...,...
4064250,TWN,All non-essential,ZAF,All non-essential,49.705607
4064251,USA,All non-essential,ZAF,All non-essential,212.045494
4064252,VNM,All non-essential,ZAF,All non-essential,4.406049
4064253,ZAF,All non-essential,ZAF,All non-essential,20863.262335
4064254,ALL,TOTAL PRODUCTION,ZAF,All non-essential,97849.949145

In [17]:
# EXPORT TO CSV
#IO_MELT.to_csv('/project_data/data_asset/IO_WORLD_LONG.csv', index = False)